<div data-control="wysiwyg">
    <textarea name="{{ name }}" id="editor1" style="display: block">{{ value }}</textarea>
</div>
<style>
    .mce-tinymce .mce-ico {
        color: #c03f31 !important;
    }
</style>
