<section class="content">
<h1>{{ room.name }}</h1>
     <div class="row">
        <div class="col-xs-12 col-sm-8">
            {{ room.content|raw }}
        </div>
     </div>
     <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img src="{{ room.featured_images[0].thumb(300, 300) }}" title="{{ room.featured_images[0].title }}" alt="{{ room.featured_images[0].description }}">
        <div>
     </div>

     <div class="row">
     </div>
</section>
