title = "Admin"
url = "/admin/events/:room/:page"
layout = "default"
[eventList]
eventsPerPage = "10"
==
function onStart()
{
  $this->addCss('assets/bower_components/select2/dist/css/select2.min.css');
  $this->addJs('assets/bower_components/moment/moment.js');
  $this->addJs('assets/bower_components/fullcalendar/dist/fullcalendar.min.js');
  $this['page'] = $this->param('page');;
}
==
  <section class="content-header">
    <h1>
      {{ user.email }}
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol>
  </section>

  <!-- Main content -->
  {% if role =='管理员' %}
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Event Table</h3>
          </div>
          <!-- /.box-header -->
          <div class="row">
          <div class="box-header">
          <form role="form" data-request="eventList::onSearchField" data-request-validate data-request-flash data-request-redirect="/admin/events/{{ room }}/{{ page }}">
          <div class="col-xs-2">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ (searchs['name']!='default')?searchs['name']:'' }}" placeholder="{{ (searchs['name']!='default')?searchs['name']:'' }}">
          </div>
          </div>
          <div class="form-group col-xs-2">
            <label>checkin Date start:</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" value="{{ searchs['instart']=='default'?'':searchs['instart']  }}"  name="instart" class="form-control pull-right" id="datepicker1">
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group col-xs-2">
            <label>checkin Date end:</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" value="{{ searchs['inend']=='default'?'':searchs['inend']  }}"  name="inend" class="form-control pull-right" id="datepicker2">
            </div>
            <!-- /.input group -->
          </div>
          <div class="col-xs-2">
            <label> 使用参数过滤事件 </label>
            <button type="submit" class="btn btn-block btn-primary">Filter</button>
          </div>
          </form>
        </div>
        </div>
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Avatar</th>
                <th>Name</th>
                <th>checkInDate</th>
                <th>checkoutDate</th>
                <th>Money</th>
                <th>Persons</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
                 {% partial "events" events=events room=room %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  {% else %}

  {% endif %}

{% put scripts %}
  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()

      //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      //Datemask2 mm/dd/yyyy
      $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
      //Money Euro
      $('[data-mask]').inputmask()

      //Date range picker
      $('#reservation').daterangepicker()
      //Date range picker with time picker
      $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
      //Date range as a button
      $('#daterange-btn').daterangepicker(
        {
          ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate  : moment()
        },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
      )

      //Date picker
      $('#datepicker1').datepicker({
        autoclose: true,
        format:'yyyy-mm-dd'
      })
      $('#datepicker2').datepicker({
        autoclose: true,
        format:'yyyy-mm-dd'
      })
      //iCheck for checkbox and radio inputs
      $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass   : 'iradio_minimal-blue'
      })
      //Red color scheme for iCheck
      $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass   : 'iradio_minimal-red'
      })
      //Flat red color scheme for iCheck
      $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass   : 'iradio_flat-green'
      })

      //Colorpicker
      $('.my-colorpicker1').colorpicker()
      //color picker with addon
      $('.my-colorpicker2').colorpicker()

      //Timepicker
      $('.timepicker').timepicker({
        showInputs: false
      })
    })
  </script>
  {% endput %}
