title = "Admin"
url = "/booking/newroom"
layout = "event"
[room]
idParam = ":id"

[booking_form]
redirect = "plugins"

[LocationSelect]
==
==
    <!-- Custom Tabs -->

    <div id="update_success" class="callout callout-success" style="display:none">
      <h4>create success</h4>

      <p></p>
    </div>
        <!-- /.tab-pane -->
            <div class="box box-primary">
              <div class="box-body no-padding">
                <form role="form" data-request="room::onCreateRoom" data-request-validate data-request-flash>
                  <div class="alert alert-danger" data-validate-error>
                     <p data-message></p>
                  </div>
                  <div class="box-body">
                    <div class="form-group">
                      <label for="roomname">Name</label>
                      <div>
                      <input type="text" class="form-control" name="roomname" id="roomname" value="{{ room.name }}" placeholder="{{ room.name }}">
                      <div data-validate-for="roomname"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="maxpersons">Max persopns</label>
                      <div>
                      <input type="text" class="form-control" name="maxpersons" id="maxpersons" value="{{ room.max_persons }}" placeholder="{{ room.max_persons }}">
                      <div data-validate-for="maxpersons"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="price">Price</label>
                      <div>
                      <input type="text" class="form-control" name="price" id="price" value="{{ room.price }}" placeholder="{{ room.price }}">
                      <div data-validate-for="price"></div>
                      </div>
                    </div>
                    <div id="partialCountryState">
                        {% partial 'country-state' %}
                        <div data-validate-for="country_id"></div>
                        <div data-validate-for="state_id"></div>
                    </div>
                    <div class="form-group">
                      <label>房屋信息</label>
                      <div>
                      <textarea id="editor1" name="editor1" rows="10" cols="80">
                      </textarea>
                      <div data-validate-for="editor1"></div>
                      </div>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="published" checked="{{ published_check }}"> published
                      </label>
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" data-attach-loading class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /. box -->
