title = "Admin"
url = "/admin/agencyuser/:roomid/:id"
layout = "default"
[agency]
==
<div class="box box-primary">
   <div class="box-body no-padding">
      <div id="qrcode">{% partial 'qrcode' %}</div>
      <button
          data-request="agency::onCreateQRCode"
          data-request-update="qrcode: '#qrcode'">
          Generate New QRCode
      </button>
    </div>
  </div>
