title = "Admin"
url = "/booking/room/:id"
layout = "calendar"
[room]
idParam = ":id"
redirect = "plugins"

[LocationSelect]
[EventForm]
[editable]
==
use Tiipiik\Booking\Models\Room;

function onStart()
{
    $this['published_check'] = $this['room']->is_available ? "checked":"closed";
    $this->addJs('assets/bower_components/moment/moment.js');
    $this->addJs('assets/bower_components/fullcalendar/dist/fullcalendar.min.js');
    $locale = App::getLocale();
    //$this->addJs('https://www.suubook.com/modules/backend/widgets/mediamanager/assets/js/mediamanager-browser-min.js?v443');
    //$this->addJs('/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce/tinymce.min.js');

    //if ($locale != 'en' && File::exists('plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce/langs/'.$locale.'.js')) {
    //    $this->addJs('/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce/langs/'.$locale.'.js');
    //}


      //$this->addCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


      //$this->addCss("https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/css/froala_editor.pkgd.min.css");
      //$this->addCss("https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/css/froala_style.min.css");

      //$this->addJs("https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js");

      //$this->addJs("https://cdn.jsdelivr.net/npm/froala-editor@2.9.0/js/froala_editor.pkgd.min.js");

      //$this->addJs("https://cloud.tinymce.com/stable/tinymce.min.js");

}

function onInit()
{
    $urls = explode("/", $_SERVER['REQUEST_URI']);
    $id = array_pop($urls);
    $room = Room::where('id',$id)->first();
    $component = $this->addComponent(
        'NetSTI\Uploader\Components\ImageUploader',
        'imageUploader',
        ['modelClass'=>'Tiipiik\Booking\Models\Room','modelKeyColumn'=>'featured_images', 'deferredBinding' => false]
    );

    $component->bindModel('featured_images', $room);
}
==
    <!-- Custom Tabs -->

    <div id="update_success" class="callout callout-success" style="display:none">
      <h4>update success</h4>

      <p></p>
    </div>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">Tab 1</a></li>
        <li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>
        <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>
        <li><a href="#tab_4" data-toggle="tab">Tab_4</a></li>
        <li><a href="#tab_5" data-toggle="tab">Tab_5</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
           {% component 'room' %}
          <!--  {% component 'booking_form' %}-->

        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            <!-- <div class="box box-primary">
              <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <!-- <div id="calendar"></div>
              </div> -->
              <!-- /.box-body -->
            <!-- </div> --> -->
            <!-- /. box -->
            <section class="content">
              <div class="row">
                <div class="col-md-3">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <h4 class="box-title">Draggable Events</h4>
                    </div>
                    <div class="box-body">
                      <!-- the events -->
                      <div id="external-events">
                        <div class="external-event bg-green">Lunch</div>
                        <div class="external-event bg-yellow">Go home</div>
                        <div class="external-event bg-aqua">Do homework</div>
                        <div class="external-event bg-light-blue">Work on UI design</div>
                        <div class="external-event bg-red">Sleep tight</div>
                        <div class="checkbox">
                          <label for="drop-remove">
                            <input type="checkbox" id="drop-remove">
                            remove after drop
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /. box -->
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <h3 class="box-title">Create Event</h3>
                    </div>
                    <div class="box-body">
                      <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                        <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                        <ul class="fc-color-picker" id="color-chooser">
                          <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                        </ul>
                      </div>
                      <!-- /btn-group -->
                      <div class="input-group">
                        <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                        <div class="input-group-btn">
                          <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                        </div>
                        <!-- /btn-group -->
                      </div>
                      <!-- /input-group -->
                    </div>
                  </div>
                  <div class="box box-solid">
                      <button id="add-new-event" type="button" onclick="updateAirbnb()" class="btn btn-primary btn-flat">airbnb</button>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                  <div class="box box-primary">
                    <div class="box-body no-padding">
                      <!-- THE CALENDAR -->
                      <div id="calendar"></div>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /. box -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </section>
        </div>
        <div class="tab-pane" id="tab_3">
            <div class="box box-primary">
              <div class="box-body no-padding">
                <form role="form" data-request="room::onUpdateRoom" data-request-validate data-request-flash>
                   <div class="alert alert-danger" data-validate-error>
                      <p data-message></p>
                   </div>
                  <div class="box-body">
                    <div class="form-group">
                      <label for="roomname">Name</label>
                      <input type="text" class="form-control" name="roomname" id="roomname" value="{{ room.name }}" placeholder="{{ room.name }}">
                      <div data-validate-for="roomname"></div>
                    </div>
                    <div class="form-group">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" name="price" id="price" value="{{ room.price }}" placeholder="{{ room.price }}">
                      <div data-validate-for="price"></div>
                    </div>
                    <div class="form-group">
                      <label for="longitude">Longitude</label>
                      <input type="text" class="form-control" name="longitude" id="longitude" value="{{ room.longitude }}" placeholder="{{ room.longitude }}">
                    </div>
                    <div class="form-group">
                      <label for="latitude">Latitude</label>
                      <input type="text" class="form-control" name="latitude" id="latitude" value="{{ room.latitude }}" placeholder="{{ room.latitude }}">
                    </div>
                    <input type="hidden" name="id" value="{{ room.id }}">
                    <div class="form-group">
                      <label for="roomimages">File input</label>
                           {% component 'imageUploader' %}
                    </div>
                    <div id="partialCountryState">
                        {% partial 'country-state' countryId=room.country_id stateId=room.state_id townId=room.town_id %}
                    </div>
                    <div data-validate-for="country_id"></div>
                    <div data-validate-for="state_id"></div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="published" checked="{{ published_check }}"> published
                      </label>
                    </div>
                    <div class="form-group">
                      <label>房屋信息</label>
                      <div>
                        <!-- {% component 'editable' file="welcome.htm" %} -->
                      <textarea id="editor1" name="editor1" rows="10" cols="80"> -->
                        {{ room.content_html }}
                      </textarea>
                      <!-- {% component "room_editor" %} -->

                      <div data-validate-for="editor1"></div>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" data-attach-loading class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_4">
           <div class="box box-primary">
              <div class="box-body no-padding">
                <form role="form" data-request="room::onUpdateCalendar" data-request-validate data-request-flash>
                  <div class="box-body">
                    <div class="form-group">
                      <label for="airbnb_ics">Airbnb</label>
                      <input type="text" class="form-control" name="airbnb_ics" id="airbnb_ics" value="{{ room.airbnb_ics }}" placeholder="{{ room.airnb_ics }}">
                    </div>
                    <input type="hidden" name="id" value="{{ room.id }}">
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" data-attach-loading class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.box-body -->
            </div>
        </div>
        <div class="tab-pane" id="tab_5">
          <div class="box box-primary">
             <div class="box-body no-padding">
                <div id="qrcode">{% partial 'qrcode' %}</div>
                <button
                    data-request="room::onCreateQRCode"
                    data-request-update="qrcode: '#qrcode'">
                    Generate New QRCode
                </button>
              </div>
            </div>
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
{% put scripts %}
<!-- Page specific script -->

<script>

function tinymceInit() {
    //$('#<?php echo $Init ?>').show();
    console.log("GGGGGGGGGGGGGGGGGGG$$$");
    tinyMCE.baseURL = "{{ 'https://www.suubook.com/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce'}}";
    tinyMCE.suffix = '.min';
    tinymce.init({
        selector: 'textarea#editor1',
        language: '{{ lang }}',
        theme: 'modern',
        setup: function(editor) {
            editor.on('change', function() {
                tinymce.triggerSave();
            });
        },
        relative_urls: false,
        width:  '{{ width }}',
        height: '{{ height }}',
        plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor ocmediamanager"
        ],
        toolbar: "{{ toolbar_tinymce }}"
    });
  }

  function updateAirbnb () {
       console.log("GGGGGG!!!!!!!!!!!!");

       $.request('room::onUpdateAirbnbEvents', {
           success: function() {
              console.log('Finished!');
              window.location.reload();
           }
       })

  }
  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function init_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

///////////////////////////////////////////////////////////////
    // if (typeof tinymce === 'undefined') {
    //     $.getScript('https://www.suubook.com/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce/tinymce.min.js', function() {
    //         $.getScript('https://www.suubook.com/plugins/anandpatel/wysiwygeditors/formwidgets/editor/assets/tinymce/langs/' + {{ lang }} + '.js', function() {
    //             setTimeout(function() {
    //                 tinymceInit();
    //             }, 500);
    //         }); });
    // }
    // else {
    //     setTimeout(function() {
    //         tinymceInit();
    //     }, 500);
    // }

    // $(document).on('focusin', function(e) {
    //     if ($(e.target).closest(".mce-window").length) {
    //         e.stopImmediatePropagation();
    //     }
    // });

///////////////////////////////////////////////////////////////
    init_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
    $('#calendar').fullCalendar({
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week : 'week',
        day  : 'day'
      },
      //Random default events
      events: function(start, end, timezone, callback) {
        console.log(start);
        console.log(end);
        $.request('room::onMonthEvents',{
              data: {
                room_id:{{ room.id }},
                start:  start.unix(),
                end:    end.unix()
              },
              success:function(res){
                console.log('GGGGGGGGGGG');
                console.log('RRRR#################');
                console.log(res);
                console.log("FFFFFFFVVVVVVVVVVVVVVVVVVVV");

                var events = res.data.map(function(event){
                    var ret;
                    ret = event;
                    ret.start = new Date(event.start);
                    ret.end = new Date(event.end);
                    ret.description = event.description;
                    ret.allDay = event.allDay?true:false;
                    ret.url = (event.from == 'ldeer')?'https://www.suubook.com/booking/event/'+event.id:'#';
                    return ret;
                })

                console.log(events);
                callback(events);
                //callback(events);
          //           alert(1)
              },
              error:function(error){


               //console.log('登录失败'+error)
             }

          })
      },
      editable  : true,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function (date, jsEvent) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject')

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject)
        console.log(jsEvent);
        console.log(date.hasTime());
        console.log("GGGGGGGGGG$$$$$$$$$$$$4444444");
        // assign it the date that was reported
        copiedEventObject.start           = date;


        copiedEventObject.allDay          = !date.hasTime();

        copiedEventObject.backgroundColor = $(this).css('background-color')
        copiedEventObject.borderColor     = $(this).css('border-color')
        console.log('RREEEEEEEE@@@@@@@@~~~~~~~~~~');
        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $.request('room::onCreateEvent',{
              data: {
                room_id: {{ room.id }},
                name: copiedEventObject.title,
                start:  date.unix(),
                end:    date.hasTime()? (date.unix() + 7200):(date.unix()+86400),
                allDay: date.hasTime()?'false':'true'
              },
              success:function(res){
                copiedEventObject.id = res.data;
                copiedEventObject.url = 'https://www.suubook.com/booking/event/'+res.data;
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

                $("#update_success").css('display','block');

                setTimeout(function(){
                    $("#update_success").css('display','none');
                },2000)

              },
              error:function(error){

             }

          })
        // $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)
        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove()
        }

      },
      eventResize: function( event, dayDelta, revertFunc, jsEvent, ui, view ) {

            if (event.from == 'airbnb') {

              revertFunc();

            } else {
              console.log(event.end);
              console.log("GGGGGGGGGGTTTTTTTTTGGGGGGGGG");
              console.log(event.allDay);
              $.request('room::onUpdateEvent',{
                  data: {
                    event_id:event.id,
                    start:  event.start.unix(),
                    end:    event.end?event.end.unix():event.start.unix(),
                    allDay: event.allDay?'true':'false'
                  },
                  success:function(res){

                    $("#update_success").css('display','block');

                    setTimeout(function(){
                        $("#update_success").css('display','none');
                    },2000)

                  },
                  error:function(error){

                     revertFunc()
                 }

              })
           }
      },
      eventClick: function(calEvent, jsEvent, view) {
        // $.fancybox({
        //   'type':'ajax',
        //   'href':'/booking/event/'+calEvent.id
        // });
        console.log(calEvent.url);
        // if (calEvent.url) {
        //
        //     window.open(calEvent.url);
        // }
      },
      eventDrop    : function(event, dayDelta, revertFunc, jsEvent, ui, view) {
           console.log('TTTTTTTTTTT');
           console.log(event);
           console.log(dayDelta);
           //console.log(minuteDelta);
           //event.start = event.start - dayDelta;
           //event.end   = event.end - dayDelta;
           //console.log(allDay);
           if (event.from == 'airbnb') {
                revertFunc();
           } else {
             console.log(event.allDay);
             console.log("OOOOOOOOOOOOOOOOOOOOOOOOOOOO");
             console.log(event.end);
             $.request('room::onUpdateEvent',{
                 data: {
                   event_id:event.id,
                   start:  event.start.unix(),
                   end:    event.allDay? (event.start.unix() + 86400):event.end?event.end.unix():event.start.unix()+7200,
                   allDay: event.allDay?'true':'false'
                 },
                 success:function(res){

                   $("#update_success").css('display','block');

                   setTimeout(function(){
                       $("#update_success").css('display','none');
                   },2000)

                 },
                 error:function(error){

                    revertFunc()
                }

             })
           }


      }
    })

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({ 'background-color': currColor, 'border-color': currColor })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      init_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
{% endput %}
