
title = "Admin"
url = "/"
layout = "default"
[room_list]
roomsPerPage = "10"
pageParam = ":page"
roomPage = "rooms"
roomPageIdParam = ":id"
noRoomsMessage = "No rooms found"
==
function onStart()
{
    $this->addJs('https://js.pusher.com/4.1/pusher.min.js');
    $this->addJs('assets/bower_components/chart.js/Chart.js');
}
==
<!-- Content Wrapper. Contains page content -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div id="chat_pop">
    </div>
    <div class="row">
      <!-- <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>

            <p>Messages</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="/admin/messages/1" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div> -->
      <!-- ./col -->
      <!-- <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div> -->
      <!-- <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div> -->
      <!-- <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div> -->

      <section class="content">
        <div class="row">
          <!-- /.col (LEFT) -->
          <div id='roomStatics' class="col-md-12">
          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->

      </section>


    </div>

  </section>

{% put scripts %}
<script>

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var messages= [];

  var pusher = new Pusher('426955762f302757a04c', {
    cluster: 'ap1',
    encrypted: true,
    authEndpoint: 'https://www.suubook.com/pusher/auth'
  });

  var channel = pusher.subscribe('presence-1sdad323dadasda8');
  channel.bind('pusher:subscription_error', function(status) {
       console.log('fail.......');
       console.log(status);
  });
  channel.bind('pusher:subscription_succeeded', function() {
     console.log('success........');
  });
  channel.bind('offlined', function(data) {
    $.request('chatmessage::onOfflineChats',{
          data: {
            user_id: data.user.id
          },
          success:function(res){

            res.forEach(function(data){
              if($("#chat_"+data.user.id).length> 0) {
              //元素存在时执行的代码
                var num = $("#chat_count_"+data.user.id).text();
                $("#chat_count_"+data.user.id).text(parseInt(num)+1);
                $("#chat_time_"+data.user.id).text(data.published_time);

              } else {
                var img = '<img src="' + data.user.avatar + '" alt="User Image" height="49.5" width="49.5">';
                var name = '<a class="users-list-name" href="#">'+ data.user.name  +'</a>';
                var time = '<span id="chat_time_' + data.user.id  + '" class="users-list-date">' + data.published_time + '</span>';
                var chat_count = '<span id="'+'chat_count_'+data.user.id + '" class="label label-success">' + '1' + '</span>';
                var id  = '<label hidden>' + data.user.id + '</label>'
                var body = '<li style="cursor:pointer" id="'+'chat_'+data.user.id +'">'+ img + chat_count + name + time + id + '</li>';
                $('#chat-drop').append(body);
                var num = $("#chat-drop-header").text();
                $("#chat-drop-header").text(parseInt(num)+1);
                $("#chat-drop-num").text('You have  '+(parseInt(num)+1)+'  chats');

                $('#chat_'+data.user.id).click(function(){
                    alert(data.user.id);
                    $.request('chatmessage::onChats',{
                          data: {
                            user_id: data.user.id
                          },
                          success:function(res){

                          },
                          error:function(error){


                           //console.log('登录失败'+error)
                         }

                      })
                });
              }
            });

          },
          error:function(error){


           //console.log('登录失败'+error)
         }

      })
  });
  channel.bind('message', function(data) {
    alert(JSON.stringify(data));

    var img = (data.img != 'none')?'<div class="pull-left"><img src='+data.img+' class="img-circle" alt="User Image"></div>':'<div></div>';
    var from =  '<h4>'+data.from+'<small><i class="fa fa-clock-o"></i>'+data.created_at+'</small></h4>'
    var title = '<p>'+data.title+'</p>'
    var body = '<li><a href="'+data.url+'">'+img+from+title+'</a></li>';

    $('#message-drop').append(body);
    var num = $("#message-drop-header").text();
    $("#message-drop-header").text(parseInt(num)+1);
    $("#message-drop-num").text('You have  '+(parseInt(num)+1)+'  messages');
  });
  channel.bind('notification', function(data) {
    alert(JSON.stringify(data));

    var body = '<li><a href='+data.url+'><i class="'+data.class+'"></i> '+data.title+'</a></li>'

    $('#notification-drop').append(body);
    var num = $("#notification-drop-header").text();
    $("#notification-drop-header").text(parseInt(num)+1);
    $("#notification-drop-num").text('You have  '+(parseInt(num)+1)+'  notifications');
  });

  channel.bind('task', function(data) {
    alert(JSON.stringify(data));
    var  header = '<h3>'+data.title+'<small class="pull-right">'+data.percent+'</small></h3>'
    var  progress = '<div class="progress xs"><div class="'+data.class+'" style="width: '+data.percent+'%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">'+data.percent+'% Complete</span></div></div>'

    var body = '<li><a href="' +data.url+ '">' + header + progress + '</a></li>';

    $('#task-drop').append(body);
    var num = $("#task-drop-header").text();
    $("#task-drop-header").text(parseInt(num)+1);
    $("#task-drop-num").text('You have  '+(parseInt(num)+1)+'  tasks');
  });

  channel.bind('chat', function(data) {
    alert(JSON.stringify(data));

    if($("#chat_"+data.user.id).length > 0) {
    //元素存在时执行的代码
      var num = $("#chat_count_"+data.user.id).text();
      $("#chat_count_"+data.user.id).text(parseInt(num)+1);
      $("#chat_time_"+data.user.id).text(data.published_time);
      messages[data.user.id].push(data);
      console.log(messages);
      console.log('HHHHHHHHHHH');

    } else {
      var img = '<img src="' + data.user.avatar + '" alt="User Image" height="49.5" width="49.5">';
      var name = '<a class="users-list-name" href="#">'+ data.user.name  +'</a>';
      var time = '<span id="chat_time_' + data.user.id  + '" class="users-list-date">' + data.published_time + '</span>';
      var chat_count = '<span id="'+'chat_count_'+data.user.id + '" class="label label-success">' + '1' + '</span>';
      var id  = '<label hidden>' + data.user.id + '</label>'
      var body = '<li style="cursor:pointer" id="'+'chat_'+data.user.id +'">'+ img + chat_count + name + time + id + '</li>';
      $('#chat-drop').append(body);
      var num = $("#chat-drop-header").text();
      $("#chat-drop-header").text(parseInt(num)+1);
      $("#chat-drop-num").text('You have  '+(parseInt(num)+1)+'  chats');
      messages[data.user.id] = [];
      messages[data.user.id].push(data);
      $('#chat_'+data.user.id).click(function(){

          var header = '<div class="box-header with-border"><h3 class="box-title">Direct Chat</h3><div class="box-tools pull-right"><button type="button" onclick="$(\'#chat-window\').remove();" class="btn btn-box-tool"><i class="fa fa-times"></i></button></div></div>';


          var messageCss = '<div class="direct-chat-messages">';
          console.log(messages);
          console.log('HHHHHHHHHHH11');
          messages[data.user.id].forEach(function(message){
              if(message.direction == 1) {
                messageCss = messageCss + '<div class="direct-chat-msg"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+message.user.name + '</span><span class="direct-chat-timestamp pull-right">'+ message.published_time + '</span></div><img class="direct-chat-img" src="'+message.user.avatar + '" alt="Message User Image"><div class="direct-chat-text">'+message.content+'</div></div>';
              } else {
                messageCss = messageCss + '<div class="direct-chat-msg right"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+message.manager.name + '</span><span class="direct-chat-timestamp pull-right">'+ message.published_time + '</span></div><img class="direct-chat-img" src="'+message.manager.avatar + '" alt="Message User Image"><div class="direct-chat-text">'+message.content+'</div></div>'
              }
          });

          messageCss = messageCss + '</div>'

          var body = '<div id="chat-window" class="col-md-6" style="position:absolute; z-index:100" data-toggle="popover"><div class="box box-primary direct-chat direct-chat-primary">'+ header + '<div class="box-body" style="">'+ messageCss +'</div></div></div>'
          console.log(body);
          $("#chat_pop").append(body);
          $("[data-toggle='popover']").popover();
      });
    }
  });
  var roompage = 0;
  $(function () {
  /* ChartJS
   * -------
   * Here we will create a few charts using ChartJS
   */
  //--------------
  //- AREA CHART -
  //--------------

  console.log( roompage );

  //-------------
  //- BAR CHART -
  //-------------
  loadMoreRooms();
})

$(window).scroll(function(){
    // 当滚动到最底部以上100像素时， 加载新内容
    console.log('RR$$$$$$$$$');
    if ($(document).height() - $(this).scrollTop() - $(this).height()<100) loadMoreRooms();
});

//计算天数差的函数，通用
function  DateDiff(sDate1,  sDate2){    //sDate1和sDate2是2002-12-18格式
    var  aDate,  oDate1,  oDate2,  iDays
    aDate  =  sDate1.split("-")
    oDate1  =  new  Date(aDate[1]  +  '-'  +  aDate[2]  +  '-'  +  aDate[0])    //转换为12-18-2002格式
    aDate  =  sDate2.split("-")
    oDate2  =  new  Date(aDate[1]  +  '-'  +  aDate[2]  +  '-'  +  aDate[0])
    iDays  =  parseInt(Math.abs(oDate1  -  oDate2)  /  1000  /  60  /  60  /24)    //把相差的毫秒数转换为天数
    return  iDays
}

function DateDiffTime(sDate1,sDate2) {
  return DateDiff(sDate1.split(' ')[0],sDate2.split(' ')[0]);
}

function GetDays(event, ret){
  let start_year = parseInt(event.date.split('-')[0]);
  let start_month = parseInt(event.date.split('-')[1]);

  let start_day = parseInt(event.date.split(' ')[0].split('-')[2]);

  let end_year = parseInt(event.end_date.split('-')[0]);
  let end_month = parseInt(event.end_date.split('-')[1]);
  let end_day = parseInt(event.end_date.split(' ')[0].split('-')[2]);

  for (let y = start_year; y<= end_year; y++) {
      let for_end_month = (y == end_year) ? end_month : 12;
      let for_start_month =  (y == start_year) ? start_month : 1;
      for (let m = for_start_month; m <= for_end_month; m++) {
         let next_year = (m == 11) ? (y+1) : y;
         let next_month = (m == 11) ? 0 : (m+1);
         let for_end_day = (m == end_month) ? end_day : new Date(next_year, next_month, 0).getDate();
         let for_start_day = (m == start_month) ? start_day : 1;
         for (let d = for_start_day; d <= for_end_day; d++) {
            if (ret.hasOwnProperty(y+'-'+m)) {
                ret[y+'-'+m] = ret[y+'-'+m] + 1;
            }
            else {
                ret[y+'-'+m] = 0;
            }
          }

      }
  }

  return ret;
}

function staticsData(start_year, start_month , end_year, end_month , events) {
    let datalabel = [];
    let data = []
    let ret = events.reduce(function(total, event){
       return GetDays(event, total);
    }, {});

    for (let y = start_year; y<= end_year; y++) {
        let for_end_month = (y == end_year) ? end_month : 12;
        let for_start_month =  (y == start_year) ? start_month : 1;
        for (let m = for_start_month; m <= for_end_month; m++) {
          if (ret[y+'-'+m]) {
           data.push(ret[y+'-'+m]);
           datalabel.push( y+'-'+m );
         } else {
           data.push(0);
           datalabel.push(y+'-'+m);
         }
        }
    }
    return {
      datalabel,
      data
    }
}

function _staticsData(start_year, start_month , end_year, end_month , events) {
   let airbnbevents = [];
   let localevents = [];
   events.forEach(function(event){
       if(event.from == 'airbnb') {
            airbnbevents.push(event);
       } else {
            localevents.push(event);
       }
   });
   let airbnbdata = staticsData(start_year, start_month , end_year, end_month ,airbnbevents);
   let localdata  = staticsData(start_year, start_month , end_year, end_month ,localevents);

  return {
    airbnbdata,
    localdata
  }
}

function loadMoreRooms() {

  roompage++;

  let user_id = {{ user.id }}

  var day2 = new Date();
  day2.setTime(day2.getTime());
  var today = (day2.getMonth()+1)+ '/' + day2.getDate() +'/'+ day2.getFullYear();
  var month = day2.getMonth()+1;
  var year = day2.getFullYear();
  var date = day2.getDate();
  var today = year + '-' + month +'-'+ date;
  var todayMinusYear = (year-1) + '-' + month +'-'+ date;

  $.request('room_list::onLoadMoreRooms', {
     data: {
       page: roompage,
       user_id: user_id,
       startdate: todayMinusYear,
       enddate: today
     },
     success: function(data) {

         data.data.map(function(room){
             console.log(room);
             let item = `<div class="col-md-6"><div class="box box-success">
               <div class="box-header with-border">
                 <h3 class="box-title">`+ room.room.name +`</h3>

                 <div class="box-tools pull-right">
                   <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                   </button>
                   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                 </div>
               </div>
               <div class="box-body">
                 <div class="chart">
                   <canvas id="barChart_` + room.room.id + `" style="height:230px"></canvas>
                 </div>
                 <div class="input-group">
                   <div class="input-group-addon">
                     <i class="fa fa-calendar"></i>
                   </div>
                   <input type="text" class="form-control pull-right" id="reservation` + room.room.id + `">
                 </div>
               </div>
               <!-- /.box-body -->
             </div></div>`

             $('#roomStatics').append(item);

             let staticdata = _staticsData(todayMinusYear.split('-')[0], todayMinusYear.split('-')[1] ,today.split('-')[0], today.split('-')[1], room.room.events)

             var barChartCanvas                   = $('#barChart_' + room.room.id).get(0).getContext('2d')
             var barChart                         = new Chart(barChartCanvas)
             var barChartData                     = {
                                                     labels  : staticdata.airbnbdata.datalabel,
                                                     datasets: [
                                                       {
                                                         label               : 'Electronics',
                                                         fillColor           : 'rgba(210, 214, 222, 1)',
                                                         strokeColor         : 'rgba(210, 214, 222, 1)',
                                                         pointColor          : 'rgba(210, 214, 222, 1)',
                                                         pointStrokeColor    : '#c1c7d1',
                                                         pointHighlightFill  : '#fff',
                                                         pointHighlightStroke: 'rgba(220,220,220,1)',
                                                         data                : staticdata.airbnbdata.data
                                                       },
                                                       {
                                                         label               : 'Digital Goods',
                                                         fillColor           : 'rgba(60,141,188,0.9)',
                                                         strokeColor         : 'rgba(60,141,188,0.8)',
                                                         pointColor          : '#3b8bba',
                                                         pointStrokeColor    : 'rgba(60,141,188,1)',
                                                         pointHighlightFill  : '#fff',
                                                         pointHighlightStroke: 'rgba(60,141,188,1)',
                                                         data                : staticdata.localdata.data
                                                       }
                                                     ]
                                                   };
             barChartData.datasets[1].fillColor   = '#00a65a'
             barChartData.datasets[1].strokeColor = '#00a65a'
             barChartData.datasets[1].pointColor  = '#00a65a'
             var barChartOptions                  = {
               //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
               scaleBeginAtZero        : true,
               //Boolean - Whether grid lines are shown across the chart
               scaleShowGridLines      : true,
               //String - Colour of the grid lines
               scaleGridLineColor      : 'rgba(0,0,0,.05)',
               //Number - Width of the grid lines
               scaleGridLineWidth      : 1,
               //Boolean - Whether to show horizontal lines (except X axis)
               scaleShowHorizontalLines: true,
               //Boolean - Whether to show vertical lines (except Y axis)
               scaleShowVerticalLines  : true,
               //Boolean - If there is a stroke on each bar
               barShowStroke           : true,
               //Number - Pixel width of the bar stroke
               barStrokeWidth          : 2,
               //Number - Spacing between each of the X value sets
               barValueSpacing         : 5,
               //Number - Spacing between data sets within X values
               barDatasetSpacing       : 1,
               //String - A legend template
               legendTemplate          : {{"'"}}{{ '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>' | raw }}{{"'"}},
               //Boolean - whether to make the chart responsive
               responsive              : true,
               maintainAspectRatio     : true
             }

             barChartOptions.datasetFill = false
             barChart.Bar(barChartData, barChartOptions)
             $('#reservation'+room.room.id).daterangepicker({startDate: todayMinusYear , endDate: today,
                   dateLimit : {
                       days : 365
                   }
                 ,"locale": {
                    format: 'YYYY-MM-DD'
                }}, function(start, end, label) {
                    let startdate = start.format('Y-M-D');
                    let enddate   = end.format('Y-M-D');

                    $.request("room_list::onLoadMoreEventsOfRoom", {
                      data: {
                        start: startdate,
                        end:   enddate,
                        roomid: room.room.id
                      },
                      success: function(data){

                        let width = $('#barChart_' + data.id).width();
                        let height = $('#barChart_' + data.id).height();

                        let staticdata = _staticsData(startdate.split('-')[0], startdate.split('-')[1] ,enddate.split('-')[0], enddate.split('-')[1], data.events)

                        var barChartCanvas                   = $('#barChart_' + data.id).get(0).getContext('2d')
                        barChartCanvas.clearRect(0,0, width, height);
                        var barChart                         = new Chart(barChartCanvas)
                        var barChartData                     = {
                                                                labels  : staticdata.airbnbdata.datalabel,
                                                                datasets: [
                                                                  {
                                                                    label               : 'Electronics',
                                                                    fillColor           : 'rgba(210, 214, 222, 1)',
                                                                    strokeColor         : 'rgba(210, 214, 222, 1)',
                                                                    pointColor          : 'rgba(210, 214, 222, 1)',
                                                                    pointStrokeColor    : '#c1c7d1',
                                                                    pointHighlightFill  : '#fff',
                                                                    pointHighlightStroke: 'rgba(220,220,220,1)',
                                                                    data                : staticdata.airbnbdata.data
                                                                  },
                                                                  {
                                                                    label               : 'Digital Goods',
                                                                    fillColor           : 'rgba(60,141,188,0.9)',
                                                                    strokeColor         : 'rgba(60,141,188,0.8)',
                                                                    pointColor          : '#3b8bba',
                                                                    pointStrokeColor    : 'rgba(60,141,188,1)',
                                                                    pointHighlightFill  : '#fff',
                                                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                                                    data                : staticdata.localdata.data
                                                                  }
                                                                ]
                                                              };
                        barChartData.datasets[1].fillColor   = '#00a65a'
                        barChartData.datasets[1].strokeColor = '#00a65a'
                        barChartData.datasets[1].pointColor  = '#00a65a'
                        var barChartOptions                  = {
                          //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                          scaleBeginAtZero        : true,
                          //Boolean - Whether grid lines are shown across the chart
                          scaleShowGridLines      : true,
                          //String - Colour of the grid lines
                          scaleGridLineColor      : 'rgba(0,0,0,.05)',
                          //Number - Width of the grid lines
                          scaleGridLineWidth      : 1,
                          //Boolean - Whether to show horizontal lines (except X axis)
                          scaleShowHorizontalLines: true,
                          //Boolean - Whether to show vertical lines (except Y axis)
                          scaleShowVerticalLines  : true,
                          //Boolean - If there is a stroke on each bar
                          barShowStroke           : true,
                          //Number - Pixel width of the bar stroke
                          barStrokeWidth          : 2,
                          //Number - Spacing between each of the X value sets
                          barValueSpacing         : 5,
                          //Number - Spacing between data sets within X values
                          barDatasetSpacing       : 1,
                          //String - A legend template
                          legendTemplate          : {{"'"}}{{ '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>' | raw }}{{"'"}},
                          //Boolean - whether to make the chart responsive
                          responsive              : true,
                          maintainAspectRatio     : true
                        }

                        barChartOptions.datasetFill = false
                        barChart.Bar(barChartData, barChartOptions)

                      }
                    });
            })
         })

     }
  })
}

</script>

{% endput %}
