description = "Calendar layout"
[sessionm]
==
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Calendar</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'|theme }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/font-awesome/css/font-awesome.min.css'|theme }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/Ionicons/css/ionicons.min.css'|theme }}">
  <!-- fullCalendar -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/fullcalendar/dist/fullcalendar.min.css'|theme }}">
  <link rel="stylesheet" href="{{ 'assets/bower_components/fullcalendar/dist/fullcalendar.print.min.css'|theme }}" media="print">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/AdminLTE.min.css'|theme }}">

  <link rel="stylesheet" href="{{ 'assets/jquery.fancybox.min.css'|theme }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/skins/_all-skins.min.css'|theme }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  {% styles %}
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=e30a93rlapvv0nk7mhi932izmsilcf1q90l29pffne71cog5"></script>
  <script>
  tinymce.init({
    selector: '#editor1',
     images_upload_url: 'postAcceptor.php',
     images_upload_base_path: '/some/basepath',
     images_upload_credentials: true,
     height: '200px',
     plugins: [
            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "save table contextmenu directionality emoticons template paste textcolor "
        ],
     theme: 'modern',
     images_upload_handler: function(blobInfo, success, failure) {
            var form = new FormData();
            form.append('files', blobInfo.blob(), blobInfo.filename());
            $.ajax({
               headers:
               {
                 'X-OCTOBER-REQUEST-HANDLER': 'room::onUploadImage', // important
               },
               type: 'post',
               cache: false,
               contentType: false, // important
               processData: false,  // important
               data: form,
               success: function(data)
               {
                  success(data.result);
               }
            });
     }
         
  });
  </script>
</head>
    <body class="hold-transition skin-blue sidebar-mini">
      {% if user %}
        <div class="wrapper">
          <!-- Header -->
          <header class="main-header">
              {% partial 'site/header' %}
          </header>
          <aside class="main-sidebar">
              {% partial 'site/sidebar' %}
          </aside>
          <div class="content-wrapper">
          <!-- Content -->
              {% page %}
          <!-- Footer -->
          </div>
          <footer id="layout-footer">
              {% partial 'site/footer' %}
          </footer>
        </div>
        <!-- Scripts -->
        <!-- jQuery 3 -->
        <!-- jQuery 3 -->
        <script src="{{ 'assets/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{{ 'assets/bower_components/jquery-ui/jquery-ui.min.js'|theme }}"></script>
        <!-- Slimscroll -->
        <script src="{{ 'assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js'|theme }}"></script>
        <!-- FastClick -->
        <script src="{{ 'assets/bower_components/fastclick/lib/fastclick.js'|theme }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ 'assets/dist/js/adminlte.min.js'|theme }}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{ 'assets/dist/js/demo.js'|theme }}"></script>

        <script src="{{ 'assets/jquery.fancybox.min.js'|theme }}"></script>

        <script>
          $(function () {
            // // Replace the <textarea id="editor1"> with a CKEditor
            // // instance, using default configuration.
            // CKEDITOR.replace('editor1')
            // //bootstrap WYSIHTML5 - text editor
            // $('.textarea').wysihtml5()

            //tinyMCE.init({

            // selector:'#editor1'              //页面元素选择器

            //})
            // $('#editor1').froalaEditor();
            //tinymce.init({
            //  selector: '#editor1'
            //})
            });
          })
        </script>


        {% framework extras %}
        {% scripts %}
      {% else %}
      <!-- jQuery 3 -->
      <script src="{{ 'assets/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="{{ 'assets/bower_components/jquery-ui/jquery-ui.min.js'|theme }}"></script>


        <script>
            $(function () {
               window.location.href='/admin/register'
            })
        </script>
     {% endif %}
    </body>
</html>
