description = "Default layout"
[sessionm]
[chatMessage]
==
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'|theme }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/font-awesome/css/font-awesome.min.css'|theme }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/Ionicons/css/ionicons.min.css'|theme }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/AdminLTE.min.css'|theme }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/skins/_all-skins.min.css'|theme }}">
  <!-- Morris chart -->
  <!-- <link rel="stylesheet" href="{{ 'assets/bower_components/morris.js/morris.css'|theme }}"> -->
  <!-- jvectormap -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/jvectormap/jquery-jvectormap.css'|theme }}">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css'|theme }}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/bootstrap-daterangepicker/daterangepicker.css'|theme }}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{{ 'assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'|theme }}">

  <link rel="stylesheet" href="{{ 'assets/bower_components/fullcalendar/dist/fullcalendar.min.css'|theme }}">

  <link rel="stylesheet" href="{{ 'assets/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css'|theme }}">

  <link rel="stylesheet" href="{{ 'assets/plugins/timepicker/bootstrap-timepicker.min.css'|theme }}">

  <link rel="stylesheet" href="{{ 'assets/bower_components/select2/dist/css/select2.min.css'|theme }}">

  <link rel="stylesheet" href="{{ 'assets/plugins/iCheck/all.css'|theme }} ">
  <link rel="stylesheet" href="{{ 'assets/bower_components/fullcalendar/dist/fullcalendar.print.min.css'|theme }}" media="print">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  {% styles %}
</head>
    <body class="hold-transition skin-blue sidebar-mini">
      {% if user %}
        <div class="wrapper">
          <!-- Header -->
          <header class="main-header">
              {% partial 'site/header' user=user %}
          </header>
          <aside class="main-sidebar">
              {% partial 'site/sidebar' user=user %}
          </aside>
          <div class="content-wrapper">
          <!-- Content -->
              {% page %}
          <!-- Footer -->
          </div>
          <footer id="layout-footer">
              {% partial 'site/footer' %}
          </footer>
        </div>
        <!-- Scripts -->
        <!-- jQuery 3 -->
        <script src="{{ 'assets/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{{ 'assets/bower_components/jquery-ui/jquery-ui.min.js'|theme }}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{{ 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>

        <script src="{{ 'assets/bower_components/select2/dist/js/select2.full.min.js'|theme }}"></script>

        <script src="{{ 'assets/plugins/input-mask/jquery.inputmask.js'|theme }}"></script>

        <script src="{{ 'assets/plugins/input-mask/jquery.inputmask.date.extensions.js'|theme }}"></script>

        <script src="{{ 'assets/plugins/input-mask/jquery.inputmask.extensions.js'|theme }}"></script>

        <script src="{{ 'assets/plugins/input-mask/jquery.inputmask.extensions.js'|theme }}"></script>

        <script src="{{ 'assets/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js'|theme }}"></script>

        <script src="{{ 'assets/plugins/timepicker/bootstrap-timepicker.min.js'|theme }}"></script>

        <script src="{{ 'assets/plugins/iCheck/icheck.min.js'|theme }}"></script>

        <script src="{{ 'assets/bower_components/fastclick/lib/fastclick.js'|theme }}"></script>
        <!-- Morris.js charts -->
        <script src="{{ 'assets/bower_components/raphael/raphael.min.js'|theme }}"></script>
        <!-- <script src="{{ 'assets/bower_components/morris.js/morris.min.js'|theme }}"></script> -->
        <!-- Sparkline -->
        <script src="{{ 'assets/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js'|theme }}"></script>
        <!-- jvectormap -->
        <script src="{{ 'assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'|theme }}"></script>
        <script src="{{ 'assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'|theme }}"></script>
        <!-- jQuery Knob Chart -->
        <script src="{{ 'assets/bower_components/jquery-knob/dist/jquery.knob.min.js'|theme }}"></script>
        <!-- daterangepicker -->
        <script src="{{ 'assets/bower_components/moment/min/moment.min.js'|theme }}"></script>
        <script src="{{ 'assets/bower_components/bootstrap-daterangepicker/daterangepicker.js'|theme }}"></script>
        <!-- datepicker -->
        <script src="{{ 'assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'|theme }}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{{ 'assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'|theme }}"></script>
        <!-- Slimscroll -->
        <script src="{{ 'assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js'|theme }}"></script>
        <!-- FastClick -->
        <script src="{{ 'assets/bower_components/fastclick/lib/fastclick.js'|theme }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ 'assets/dist/js/adminlte.min.js'|theme }}"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <!-- <script src="{{ 'assets/dist/js/pages/dashboard.js'|theme }}"></script> -->
        <!-- AdminLTE for demo purposes -->
        <script src="{{ 'assets/dist/js/demo.js'|theme }}"></script>

        <script>
        </script>

        {% framework extras %}
        {% scripts %}
      {% else %}
      <!-- jQuery 3 -->
      <script src="{{ 'assets/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="{{ 'assets/bower_components/jquery-ui/jquery-ui.min.js'|theme }}"></script>
        <script>
            $(function () {
               window.location.href='admin/register'
            })
        </script>
     {% endif %}

    </body>
</html>
