[sessionm]
==
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Editors</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css'|theme }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/font-awesome/css/font-awesome.min.css'|theme }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ 'assets/bower_components/Ionicons/css/ionicons.min.css'|theme }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/AdminLTE.min.css'|theme }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ 'assets/dist/css/skins/_all-skins.min.css'|theme }}">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{{ 'assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'|theme }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  {% styles %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  {% if user %}
    <div class="wrapper">
      <!-- Header -->
      <header class="main-header">
          {% partial 'site/header' %}
      </header>
      <aside class="main-sidebar">
          {% partial 'site/sidebar' %}
      </aside>
      <div class="content-wrapper">
      <!-- Content -->
          {% page %}
      <!-- Footer -->
      </div>
      <footer id="layout-footer">
          {% partial 'site/footer' %}
      </footer>
    </div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{{ 'assets/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ 'assets/bower_components/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
<!-- FastClick -->
<script src="{{ 'assets/bower_components/fastclick/lib/fastclick.js'|theme }}"></script>
<!-- AdminLTE App -->
<script src="{{ 'assets/dist/js/adminlte.min.js'|theme }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ 'assets/dist/js/demo.js'|theme }}"></script>
<!-- CK Editor -->
<script src="{{ 'assets/bower_components/ckeditor/ckeditor.js'|theme }}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{{ 'assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'|theme }}"></script>
<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1')
    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5()
  })
</script>

{% framework extras %}
{% scripts %}
{% else %}
<!-- jQuery 3 -->
<script src="{{ 'assets/bower_components/jquery/dist/jquery.min.js'|theme }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ 'assets/bower_components/jquery-ui/jquery-ui.min.js'|theme }}"></script>

<script>
    $(function () {
       window.location.href='/admin/register'
    })
</script>
{% endif %}
</body>
</html>
