{% set agencys = agencys %}
{% set roomid = roomid %}

<ul class="post-list">
    {% for agency in agencys['data'] %}
        <tr>
          <td style="vertical-align:bottom; text-align:center;">
           <!-- {% if event['user']['avatar'] %}
              <img src="{{ event['user']['avatar']['path'] }}" style="width:100px;height:100px;" />
           { % else %} -->
           <!-- {% endif %} -->
           {% if agency['avatar'] %}
              <a href="/admin/agencyuser/{{ roomid }}/{{ agency['id']}}">
              <img src="{{ agency['avatar']['path'] }}" style="width:100px;height:100px;" />
             </a>
           {% else %}
              <a href="/admin/agencyuser/{{ roomid }}/{{ agency['id']}}">
              <div> <img src="https://www.suubook.com/themes/manager-admin/assets/images/avatar.png" style="width:100px;height:100px;" /> </div>
              </a>
           {% endif %}
          </td>
          <td>
            {{ agency['name']?agency['name']:'' }}
          </td>
          <td>
          {% if agency['wechatuser'] %}
             <img src="{{ agency['wechatuser']['avatar'] }}" style="width:100px;height:100px;" />
          {% else %}
             <div> <img src="https://www.suubook.com/themes/manager-admin/assets/images/avatar.png" style="width:100px;height:100px;" /> </div>
          {% endif %}
        </td>
          <td>
            {{ agency['wechatuser']?agency['wechatuser']['nickname']:'' }}
          </td>
          <td>
            {{ agency['mobile'] }}
          </td>
          <td>
            {{ statuses[agency['pivot']['status_id']]['name'] }}
          </td>
        </tr>
    {% else %}
        <li class="no-data">{{ noAgencysMessage }}</li>
    {% endfor %}
</ul>

{% if agencys['last_page'] > 1 %}
    <ul class="pagination">
        {% if agencys['current_page'] > 1 %}
            <li><a href="/admin/agencys/{{ room }}/{{ agencys['current_page']-1 }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..agencys['last_page'] %}
            <li class="{{ events['current_page'] == page ? 'active' : null }}">
                <a href="/admin/agencys/{{ roomid }}/{{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.getLastPage > agencys['current_page'] %}
            <li><a href="/admin/events/{{ roomid }}/{{ agencys['current_page']+1 }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
