{% set events = events %}
{% set room = room %}
<ul class="post-list">
    {% for event in events['data'] %}
        <tr>
          <td style="vertical-align:bottom; text-align:center;">
           <!-- {% if event['user']['avatar'] %}
              <img src="{{ event['user']['avatar']['path'] }}" style="width:100px;height:100px;" />
           { % else %} -->
           <!-- {% endif %} -->
           {% if event['user']['avatar'] %}
              <img src="{{ event['user']['avatar']['path'] }}" style="width:100px;height:100px;" />
           {% else %}
              <div> <img src="https://www.suubook.com/themes/manager-admin/assets/images/avatar.png" style="width:100px;height:100px;" /> </div>
           {% endif %}
          </td>
          <td>
            <a href="/booking/event/{{ event['id'] }}">{{ event['name']??event['user']['name'] }}</a>
          </td>
          <td>{{ event['date'] }}</td>
          <td>{{ event['end_date'] }}</td>
          <td>{{ event['amount_to_pay'] }}</td>
          <td>{{ event['persons_num'] }}</td>
          <td>{{ event['status']['name'] }}</td>
        </tr>
    {% else %}
        <li class="no-data">{{ noRoomsMessage }}</li>
    {% endfor %}
</ul>

{% if events['last_page'] > 1 %}
    <ul class="pagination">
        {% if events['current_page'] > 1 %}
            <li><a href="/admin/events/{{ room }}/{{ events['current_page']-1 }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..events['last_page'] %}
            <li class="{{ events['current_page'] == page ? 'active' : null }}">
                <a href="/admin/events/{{ room }}/{{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.getLastPage > events['current_page'] %}
            <li><a href="/admin/events/{{ room }}/{{ events['current_page']+1 }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
