{% set messages = messages %}
<ul class="post-list">
    {% for message in messages.data %}
        <tr>
          <td style="vertical-align:bottom; text-align:center;">
           <!-- {% if event['user']['avatar'] %}
              <img src="{{ event['user']['avatar']['path'] }}" style="width:100px;height:100px;" />
           { % else %} -->
           <!-- {% endif %} -->
           {% if message.icon %}
              <img src="{{ message.icon.path }}" style="width:100px;height:100px;" />
           {% else %}
              <div> <img src="https://www.suubook.com/themes/manager-admin/assets/images/avatar.png" style="width:100px;height:100px;" /> </div>
           {% endif %}
          </td>
          <td>
            <a href="/admin/message/{{ message.id }}">{{ message.title }}</a>
          </td>
          <td>{{ message.content }}</td>
          <td>{{ message.created_at }}</td>
          <td>{{ message.status.name }}</td>
          <td>{{ message.type.name }}</td>
          <td>{{ message.from }}</td>
        </tr>
    {% endfor %}
</ul>

{% if messages.last_page > 1 %}
    <ul class="pagination">
        {% if messages.current_page > 1 %}
            <li><a href="/admin/messages/{{ messages.current_page-1 }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..messages.last_page %}
            <li class="{{ messages.current_page == page ? 'active' : null }}">
                <a href="/admin/messages/{{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.getLastPage > events['current_page'] %}
            <li><a href="/admin/messages/{{ messages.current_page+1 }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
