title = "Admin"
url = "/booking/event/:id"
layout = "event"
[room]
idParam = ":id"
==
use KurtJensen\MyCalendar\Models\Event;
function onStart()
{

    $urls = explode("/", $_SERVER['REQUEST_URI']);
    $id = array_pop($urls);
    $event = Event::where('id',$id)->first();

    $this['event'] = $event;
    $this['room']  = $event->room;
}
==
<div class="box box-primary">
  <div class="box-body no-padding">
    <form role="form" data-request="room::onModifyEvent" data-request-validate data-request-flash>
      <div class="alert alert-danger" data-validate-error>
        <p data-message></p>
      </div>
      {% flash %}
        <li>{{ message }}</li>
      {% endflash %}
      <div class="box-body">
        <div class="form-group">
          <label for="roomname">Name</label>
          <div>
          <input type="text" class="form-control" name="roomname" id="roomname" value="{{ event.name }}" placeholder="{{ room.name }}">
          <span data-validate-for="roomname"></span>
          </div>
        </div>
        <label>入住时间  {{ event.date }}</label>
        <label>离开时间  {{ event.end_date }}</label>
        <input type="hidden" name="id" value="{{ event.id }}">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="published" checked="{{ published_check }}"> published
          </label>
        </div>
        <label>附加信息</label>
        <textarea id="editor1" name="editor1" rows="10" cols="80">
                {{ event.text }}
        </textarea>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" data-attach-loading class="btn btn-primary">Submit</button>
      </div>
      <button type="button" onclick="deleteEvent()" class="btn btn-block btn-primary">Delete</button>
   </form>
  </div>
  <!-- /.box-body -->
</div>
{% put scripts %}
<script>
  function deleteEvent(){
     $.request('room::onDeleteEvent',{
           data: {
             id:{{ event.id }}
           },
           success:function(res){

             window.location.href = '/booking/room/'+{{ event.room.id }};
           },
           error:function(error){


            //console.log('登录失败'+error)
          }

       })
  }
</script>
{% endput %}
