title = "Admin"
url = "/admin/rooms/:page"
layout = "default"
[room_list]
roomsPerPage = "10"
pageParam = ":page"
roomPage = "rooms"
roomPageIdParam = ":id"
noRoomsMessage = "No rooms found"
==
  <section class="content-header">
    <h1>
      {{ user.email }}
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Room Table</h3>
          </div>
          <div class="box-header">
            <a href="http://www.suubook.com/booking/newroom" type="button" class="btn btn-block btn-info">Add Room</a>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Country</th>
                <th>State</th>
                <th>Town</th>
                <th>mas-persons</th>
                <th>Orders</th>
              </tr>
              </thead>
              <tbody>
                {% component 'room_list' %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
