
title = "Admin"
url = "/"
layout = "default"
==
function onStart()
{
    $this->addJs('https://js.pusher.com/4.1/pusher.min.js');
}
==
<!-- Content Wrapper. Contains page content -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div id="chat_pop">
    </div>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>150</h3>

            <p>Messages</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="/admin/messages/1" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Bounce Rate</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>44</h3>

            <p>User Registrations</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>

  </section>

{% put scripts %}
<script>

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var messages= [];

  var pusher = new Pusher('426955762f302757a04c', {
    cluster: 'ap1',
    encrypted: true,
    authEndpoint: 'http://www.suubook.com/pusher/auth'
  });

  var channel = pusher.subscribe('presence-1sdad323dadasda8');
  channel.bind('pusher:subscription_error', function(status) {
       console.log('fail.......');
       console.log(status);
  });
  channel.bind('pusher:subscription_succeeded', function() {
     console.log('success........');
  });
  channel.bind('message', function(data) {
    alert(JSON.stringify(data));

    var img = (data.img != 'none')?'<div class="pull-left"><img src='+data.img+' class="img-circle" alt="User Image"></div>':'<div></div>';
    var from =  '<h4>'+data.from+'<small><i class="fa fa-clock-o"></i>'+data.created_at+'</small></h4>'
    var title = '<p>'+data.title+'</p>'
    var body = '<li><a href="'+data.url+'">'+img+from+title+'</a></li>';

    $('#message-drop').append(body);
    var num = $("#message-drop-header").text();
    $("#message-drop-header").text(parseInt(num)+1);
    $("#message-drop-num").text('You have  '+(parseInt(num)+1)+'  messages');
  });
  channel.bind('notification', function(data) {
    alert(JSON.stringify(data));

    var body = '<li><a href='+data.url+'><i class="'+data.class+'"></i> '+data.title+'</a></li>'

    $('#notification-drop').append(body);
    var num = $("#notification-drop-header").text();
    $("#notification-drop-header").text(parseInt(num)+1);
    $("#notification-drop-num").text('You have  '+(parseInt(num)+1)+'  notifications');
  });

  channel.bind('task', function(data) {
    alert(JSON.stringify(data));
    var  header = '<h3>'+data.title+'<small class="pull-right">'+data.percent+'</small></h3>'
    var  progress = '<div class="progress xs"><div class="'+data.class+'" style="width: '+data.percent+'%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">'+data.percent+'% Complete</span></div></div>'

    var body = '<li><a href="' +data.url+ '">' + header + progress + '</a></li>';

    $('#task-drop').append(body);
    var num = $("#task-drop-header").text();
    $("#task-drop-header").text(parseInt(num)+1);
    $("#task-drop-num").text('You have  '+(parseInt(num)+1)+'  tasks');
  });

  channel.bind('chat', function(datas) {
    alert(JSON.stringify(datas));
    datas.forEach(function(data){
        if($("#chat_"+data.user.id).length > 0) {
        //元素存在时执行的代码
          var num = $("#chat_count_"+data.user.id).text();
          $("#chat_count_"+data.user.id).text(parseInt(num)+1);
          $("#chat_time_"+data.user.id).text(data.published_time);
          messages[data.user.id].push(data);
          console.log(messages);
          console.log('HHHHHHHHHHH');

        } else {
          var img = '<img src="' + data.user.avatar + '" alt="User Image" height="49.5" width="49.5">';
          var name = '<a class="users-list-name" href="#">'+ data.user.name  +'</a>';
          var time = '<span id="chat_time_' + data.user.id  + '" class="users-list-date">' + data.published_time + '</span>';
          var chat_count = '<span id="'+'chat_count_'+data.user.id + '" class="label label-success">' + '1' + '</span>';
          var id  = '<label hidden>' + data.user.id + '</label>'
          var body = '<li style="cursor:pointer" id="'+'chat_'+data.user.id +'">'+ img + chat_count + name + time + id + '</li>';
          $('#chat-drop').append(body);
          var num = $("#chat-drop-header").text();
          $("#chat-drop-header").text(parseInt(num)+1);
          $("#chat-drop-num").text('You have  '+(parseInt(num)+1)+'  chats');
          messages[data.user.id] = [];
          messages[data.user.id].push(data);
          $('#chat_'+data.user.id).click(function(){

              var header = '<div class="box-header with-border"><h3 class="box-title">Direct Chat</h3><div class="box-tools pull-right"><button type="button" onclick="$(\'#chat-window\').remove();" class="btn btn-box-tool"><i class="fa fa-times"></i></button></div></div>';


              var messageCss = '<div class="direct-chat-messages">';
              console.log(messages);
              console.log('HHHHHHHHHHH11');
              messages[data.user.id].forEach(function(message){
                  if(message.direction == 1) {
                    messageCss = messageCss + '<div class="direct-chat-msg"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+message.user.name + '</span><span class="direct-chat-timestamp pull-right">'+ message.published_time + '</span></div><img class="direct-chat-img" src="'+message.user.avatar + '" alt="Message User Image"><div class="direct-chat-text">'+message.content+'</div></div>';
                  } else {
                    messageCss = messageCss + '<div class="direct-chat-msg right"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+message.manager.name + '</span><span class="direct-chat-timestamp pull-right">'+ message.published_time + '</span></div><img class="direct-chat-img" src="'+message.manager.avatar + '" alt="Message User Image"><div class="direct-chat-text">'+message.content+'</div></div>'
                  }
              });

              messageCss = messageCss + '</div>'

              var body = '<div id="chat-window" class="col-md-6" style="position:absolute; z-index:100" data-toggle="popover"><div class="box box-primary direct-chat direct-chat-primary">'+ header + '<div class="box-body" style="">'+ messageCss +'</div></div></div>'
              console.log(body);
              $("#chat_pop").append(body);
              $("[data-toggle='popover']").popover();
          });
        }
      });
  });
</script>

{% endput %}
