title = "Profile"
url = "/admin/profile"
layout = "profile"
==
function onInit()
{
    $user = AuthM::getUser();

    $component = $this->addComponent(
        'NetSTI\Uploader\Components\ImageUploader',
        'imageUploader',
        ['modelClass'=>'King\RoomManage\Models\Manager','modelKeyColumn'=>'icon', 'deferredBinding' => false]
    );
    $component1 = $this->addComponent(
        'NetSTI\Uploader\Components\ImageUploader',
        'imageUploader_up',
        ['modelClass'=>'King\RoomManage\Models\Manager','modelKeyColumn'=>'identity_up', 'deferredBinding' => false]
    );

    $component2 = $this->addComponent(
        'NetSTI\Uploader\Components\ImageUploader',
        'imageUploader_down',
        ['modelClass'=>'King\RoomManage\Models\Manager','modelKeyColumn'=>'identity_down', 'deferredBinding' => false]
    );

    $component3 = $this->addComponent(
        'NetSTI\Uploader\Components\ImageUploader',
        'imageUploader_withuser',
        ['modelClass'=>'King\RoomManage\Models\Manager','modelKeyColumn'=>'identity_with_user', 'deferredBinding' => false]
    );

    $component->bindModel('icon', $user);
    $component1->bindModel('identity_up', $user);
    $component2->bindModel('identity_down', $user);
    $component3->bindModel('identity_with_user', $user);

}
==
<div class="box box-primary">

            <div class="box-body box-profile">
                <label for="roomimages">头像</label>
                <div>
                       {% component 'imageUploader' %}
                </div>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                <label for="roomimages">身份证正面</label>
                     {% component 'imageUploader_up' %}
                </li>
                <li class="list-group-item">
                <label for="roomimages">身份证背面</label>
                     {% component 'imageUploader_down' %}
                </li>
                <li class="list-group-item">
                <label for="roomimages">手持身份证</label>
                     {% component 'imageUploader_withuser' %}
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
</div>
