<p class="lead">
    <strong>Lost your password?</strong> No problem! Enter your email address to verify your account.
</p>

<div class="login-box-body">
<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group has-feedback">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="Enter your email">
    </div>

    <button type="submit" class="btn btn-default">Restore password</button>
</form>
</div>
