<ul class="post-list">
    {% for room in rooms['data'] %}
        <tr>
          <td style="vertical-align:bottom; text-align:center;">
           <img src="{{ room['featured_images'][0]['path'] }}" style="width:100px;height:100px;" />
          </td>
          <td>
            <a href="{{ roomPage|app }}/{{ room['id'] }}">{{ room['name'] }}</a>
          </td>
          <td>{{ room['country']['name'] }}</td>
          <td>{{ room['state']['name'] }}</td>
          <td>{{ room['town']['name'] }}</td>
          <td>{{ room['max_persons'] }}</td>
          {% if room['role'] == '管理员' %}
             <td><a href="/admin/events/{{ room.id }}/1">查看预约</a></td>
          {% else %}
             <td>无查看预约单权限</td>
          {% endif %}
          <td><a href="/admin/agencyusers/{{ room.id }}/1">查看民宿中介</a></td>
        </tr>
    {% else %}
        <li class="no-data">{{ noRoomsMessage }}</li>
    {% endfor %}
</ul>

{% if rooms['last_page'] > 1 %}
    <ul class="pagination">
        {% if rooms['current_page'] > 1 %}
            <li><a href="/admin/rooms/{{ rooms['current_page']-1 }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..rooms['last_page'] %}
            <li class="{{ rooms['current_page'] == page ? 'active' : null }}">
                <a href="/admin/rooms/{{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.getLastPage > rooms['current_page'] %}
            <li><a href="/admin/rooms/{{ rooms['current_page']+1 }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
