title = "Admin"
url = "/admin/message/:id"
layout = "event"
[room]
idParam = ":id"
==
use King\RoomManage\Models\Message;
function onStart()
{

    $urls = explode("/", $_SERVER['REQUEST_URI']);
    $id = array_pop($urls);
    $message = Message::where('id',$id)->first();
    $message->status_id = 3;
    $message->save();
    $this['message'] = $message;
}
==
<div class="box box-primary">
  <div class="box-body no-padding">

      <div class="box-body">
        <div>
          <label for="title">title:</label>
          <div>
             {{ message.title }}
          </div>
        </div>
        <div>
        <label>created_at:</label>
        <div>
             {{ message.created_at }}
        </div>
        </div>
        <div>
        <label>info:</label>
        <textarea id="editor1" name="editor1" rows="10" cols="80">
            {{ message.content }}
        </textarea>
       </div>
       {% if message.type.name == 'message' %}
         <div>
         <label>from:</label>
         <div>
              {{ message.from }}
         </div>
         </div>
      {% endif %}
      {% if message.type.name == 'task' %}
        <div>
        <label>complete percent:</label>
        <div>
             {{ message.percent }}%
        </div>
        </div>
     {% endif %}
      <div>
          <label>status:</label>
          <div>
          {{ message.status.name }}
          </div>
      </div>

      </div>
      <!-- /.box-body -->
  </div>
  <!-- /.box-body -->
</div>
