<!-- Nav -->
<!-- Logo -->
<a href="index2.html" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>A</b>LT</span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>L</b>DEER</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="ion-ios-chatbubble-outline"></i>
          <span id="chat-drop-header" class="label label-success">{{ chatcount }}</span>
        </a>
        <ul class="dropdown-menu">
            <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Chat</h3>
            </div>
          <li>
              <!-- /.box-header -->
            <div class="box-body no-padding">
            <ul id="chat-drop" class="menu users-list clearfix">
              <!-- end message -->
              {% for data in chatdatas %}
                  <li style="cursor:pointer"  id="chat_{{ data.user.id }}">
                    <img src="{{ data.user.avatar.path }}" alt="User Image">
                    <span id="chat_count_{{ data.user.id  }}" class="label label-success">{{ data.appended }}</span>
                    <a class="users-list-name" href="#">{{ data.user.name }}</a>
                    <span id="chat_time_{{ data.user.id }}" class="users-list-date">{{ data.updated_at }}</span>
                  </li>
                      <!-- /.users-list -->
              {% endfor %}
            </ul>
          </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>
                <!-- /.box-footer -->
            </div>
          </li>
        </ul>
      </li>
      <!-- Messages: style can be found in dropdown.less-->
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope-o"></i>
          <span id="message-drop-header" class="label label-success">{{ messages_count }}</span>
        </a>
        <ul class="dropdown-menu">
          <li id="message-drop-num" class="header">You have {{ messages_count }} messages</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul id="message-drop" class="menu">
              <!-- end message -->
              {% for message in messages %}
                  <li><!-- start message -->
                    <a href="{{ message.url??'#' }}">
                      {% if message.icon %}
                        <div class="pull-left">
                          <img src="{{ message.icon.path }}" class="img-circle" alt="User Image">
                        </div>
                      {% else %}
                        <div></div>
                      {% endif %}
                      <h4>
                        {{ message.from }}
                        <small><i class="fa fa-clock-o"></i>{{ message.created_at }}</small>
                      </h4>
                      <p>{{ message.title }}</p>
                    </a>
                  </li>
            {% endfor %}

            </ul>
          </li>
          <li class="footer"><a href="/admin/messages/1">See All Messages</a></li>
        </ul>
      </li>
      <!-- Notifications: style can be found in dropdown.less -->
      <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span id="notification-drop-header" class="label label-warning">{{ notifications_count }}</span>
        </a>
        <ul class="dropdown-menu">
          <li id="notification-drop-num" class="header">You have {{ notifications_count }} notifications</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul id="notification-drop"  class="menu">
                {% for notification in notifications %}
                  <li>
                    <a href="{{ notification.url??'#' }}">
                      <i class="{{ notification.classcss }}"></i> {{ notification.title  }}
                    </a>
                  </li>
                {% endfor %}
            </ul>
          </li>
          <li class="footer"><a href="/admin/messages/1">View all</a></li>
        </ul>
      </li>
      <!-- Tasks: style can be found in dropdown.less -->
      <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-flag-o"></i>
          <span id= 'task-drop-header' class="label label-danger">{{ tasks_count }}</span>
        </a>
        <ul class="dropdown-menu">
          <li id="task-drop-num" class="header">You have {{ tasks_count }} tasks</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul id="task-drop" class="menu">
              <!-- end task item -->
             {% for task in tasks %}
              <li><!-- Task item -->
                <a href="{{ task.url??'#' }}">
                  <h3>
                    {{ task.title }}
                    <small class="pull-right">{{ task.percent }}%</small>
                  </h3>
                  <div class="progress xs">
                    <div class="{{ task.classcss }}" style="width: {{ task.percent }}%" role="progressbar"
                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">{{ task.percent }}% Complete</span>
                    </div>
                  </div>
                </a>
              </li>
            {% endfor %}

            </ul>
          </li>
          <li class="footer">
            <a href="#">View all tasks</a>
          </li>
        </ul>
      </li>
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ user.icon.path }}" class="user-image" alt="User Image">
          <span class="hidden-xs">{{ user.email }}</span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="{{ user.icon.path }}" class="img-circle" alt="User Image">

            <p>
              {{ user.name }}
              <small>Member since {{ user.created_at }}</small>
            </p>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <button data-request="sessionm::onLogout" class="btn btn-default btn-flat">Sign out</button>
            </div>
          </li>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
      <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
      </li>
    </ul>
  </div>
</nav>
